
.main-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;

  .padding {
    padding: 10px;
  }

  .content {
    flex-grow: 1;
  }

  .side-controls {
    display: flex;
    flex-flow: column nowrap;
  }

  .button-icon {
    font-size: 35px;
    background: none;
    border: none;
    outline: none;

    &:active {
      opacity: 0.6;
    }
  }
}
