<div class="container">
  <div class="side-controls">
    <button class="button-icon padding icon-settings" ng-click="MainCtrl.openSettings()"></button>
    <button class="button-icon padding icon-statistics" ng-click="MainCtrl.openStatistics()"></button>
  </div>
  <div class="content">
  	<p class="header">Hi Jack!</p>
  	<p class="subheader">Your mood now is</p>
  	<span class="emoji" ng-class="[MainCtrl.currentMood.icon]"></span>
  	<span class="bullets" ng-show="MainCtrl.loading">...</span>
  </div>
</div>
