<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Statistics</title>
    <link rel="stylesheet" href="../styles/common.css">
</head>
<body>
    <div>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="statistics.html">Statistics</a></li>
            <li role="presentation"><a href="settings.html">Settings</a></li>
        </ul>
    </div>

    <div class="container-fluid">

    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/tether/dist/js/tether.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
